<section id="education">
  <div class="education-container-fluid-lg">
    <div class="education container">
      <h2 id="title_section">Educación</h2>
    </div>
    <button
    type="button"
    class="btn btn-success"
    data-toggle="collapse"
    data-target
    routerLink="/neweducation"
    *ngIf="isLogged"
  >
    Agregar
  </button>
    <div class="card nat-card">
     

      <div class="container mt-3">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let education of education">
              <td>
                <img
                  class="logo"
                  [src]="education.img_institution"
                  alt="logo institución"
                />
              </td>
              <td>{{ education.detalle }}</td>

              <div class="btn-group">
                <div class="btn-edit" *ngIf="isLogged">
                  <button
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#educationModal"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
      <!---------fuente del ícono----
          <i class="bi bi-pencil-square"></i>
          este es el div que contiene el boton editar, al usar group los 
          botones irán uno al lado del otro
          ---->

      <!----------este es el div que contiene el botón eliminar-  
            <div class="btn_trash" onclick= "cambiar_parrafo()">
              <a href="#education" class="btn">
              <i class="bi bi-trash"></i>
            </a>
            </div>
            </div> 

  Modal para editar Education -->
      <div
        class="modal fade"
        id="educationModal"
        tabindex="-1"
        aria-hidden="true"
        aria-label="educationModal"
        data-bs-backdrop="static"
      >
        <div
          class="modal-dialog modal-lg modal-dialog-centered"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalEducation">Educación</h5>
              <!---x para cerrar-->
              <button
                Type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body lg" *ngFor="let education of education">
              <form (ngSubmit)="updateeducation()" novalidate #form="ngForm">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Imagen de la Institución</th>
                        <th>Detalle de la titulación(título, Universidad,promedio)</th>
                      </tr>
                      <tr>
                        <th>
                          <div class="form-group">
                            <label for="img"> imagen:</label>
                            <input
                              type="text"
                              class="form-control"
                              id="img"
                              name="img"
                              [(ngModel)]="education.img_institution"
                              required
                            />
                          </div>
                        </th>
                        <th>
                          <div class="form-group">
                            <label for="detalle"> detalle: </label>
                            <input
                              type="text"
                              class="form-control"
                              id="detalle"
                              name="detalle"
                              [(ngModel)]="education.detalle"
                              required
                            />
                          </div>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    [disabled]="!form.valid"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                  >
                    Actualizar
                  </button>
                  <button
                    type="button"
                    (click)="deleteeducation(education.id!)"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Eliminar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
