<div class="skills-container-fluid-lg">

  <table class="table  table-hover">
    <tbody>
<tr>
<td>
  
  <!---------------círculos fila 1-->
         
 <div class="skill container">
    
      <div class="box">
      <div class="percent" >
        <circle-progress
  [percent]="miPortfolio.percent_circle1"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
></circle-progress>
        
      </div>
      <h2 class="text">{{miPortfolio.text_circle1}}</h2>
    </div>
  
    <!--------------otro círculo-->
    
    <div class="box">
      <div class="percent">
        <circle-progress
        [percent]="miPortfolio.percent_circle2"
        [radius]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#03a9f4'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
      ></circle-progress>
      </div>
      <h2 class="text">{{miPortfolio.text_circle2}}</h2>
    </div>
  
    <!--------------otro círculo-->
    
      <div class="box">
      <div class="percent">
        <circle-progress
  [percent]="miPortfolio.percent_circle3"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
></circle-progress>
      </div>
      <h2 class="text">{{miPortfolio.text_circle3}}</h2>
    </div>
    

    <!--------------otro círculo-->
    
    <div class="box">
      <div class="percent">
        <circle-progress
  [percent]="miPortfolio.percent_circle4"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
  
></circle-progress>
      </div>
      <h2 class="text">{{miPortfolio.text_circle4}}</h2>
             
    </div>
 </div>
</td>
</tr>
    </tbody>
  </table>
  <table class="table  table-hover">
    <tbody>
<tr>
<td>

<!-----------------círculos fila 2-->

<div class="skill container">

<div class="box">
  <div class="percent">
    <circle-progress
    [percent]="miPortfolio.percent_circle5"
    [radius]="80"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#03a9f4'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [titleColor]="'#fdf7f7'"
    
  ></circle-progress>
  </div>
  <h2 class="text">{{miPortfolio.text_circle5}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
  <div class="percent">
    <circle-progress
    [percent]="miPortfolio.percent_circle6"
    [radius]="80"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#03a9f4'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [titleColor]="'#fdf7f7'"
    
  ></circle-progress>
  </div>
  <h2 class="text">{{miPortfolio.text_circle6}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
  <div class="percent">
    <circle-progress
    [percent]="miPortfolio.percent_circle7"
    [radius]="80"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#03a9f4'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [titleColor]="'#fdf7f7'"
    
  ></circle-progress>
  </div>
  <h2 class="text">{{miPortfolio.text_circle7}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
  <div class="percent">
    <circle-progress
    [percent]="miPortfolio.percent_circle8"
    [radius]="80"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#03a9f4'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [titleColor]="'#fdf7f7'"
    
  ></circle-progress>
  </div>
  <h2 class="text">{{miPortfolio.text_circle8}}</h2>
         
</div>
     
</div>
</td>
</tr>
    </tbody>
</table>
<table class="table  table-hover">
  <tbody>
<tr>
<td>

<!-----------------círculos fila 2-->

<div class="skill container">

<div class="box">
<div class="percent">
  <circle-progress
  [percent]="miPortfolio.percent_circle9"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
  
></circle-progress>
</div>
<h2 class="text">{{miPortfolio.text_circle9}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
<div class="percent">
  <circle-progress
  [percent]="miPortfolio.percent_circle10"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
  
></circle-progress>
</div>
<h2 class="text">{{miPortfolio.text_circle10}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
<div class="percent">
  <circle-progress
  [percent]="miPortfolio.percent_circle11"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
  
></circle-progress>
</div>
<h2 class="text">{{miPortfolio.text_circle11}}</h2>
</div>

<!--------------otro círculo-->

<div class="box">
<div class="percent">
  <circle-progress
  [percent]="miPortfolio.percent_circle12"
  [radius]="80"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#03a9f4'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [titleColor]="'#fdf7f7'"
  
></circle-progress>
</div>
<h2 class="text">{{miPortfolio.text_circle12}}</h2>
       
</div>
   
</div>
</td>
</tr>
<div class="btn-group">
  <div class="btn-edit"*ngIf="isLogged">
    <a href="#skill" target="_blank"class="btn"data-bs-toggle="modal"
    data-bs-target="#skillModal">
    <i class="bi bi-pencil-square"></i>
    </a>
  </div></div>
  </tbody>
</table>
 <!-- Modal para editar Skill -->
 <div
 class="modal fade"
 id="skillModal"
 tabindex="-1"
 aria-hidden="true"
 aria-label="modalTitle"
 data-bs-backdrop="static"
>
 <div
   class="modal-dialog modal-lg modal-dialog-centered"
   role="document"
 >
   <div class="modal-content">
     <div class="modal-header" >
       <h5 class="modal-title" id="modalSkill">Habilidades</h5>
       <!---x para cerrar-->
       <button
         Type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body lg" >
       <div class="table-responsive">
         <table class="table">
           <tbody>
             <tr>
               <th>Habilidades Blandas</th>
              </tr>
             <tr>
              <th>Porcentaje</th>
              <th>Habilidad</th>
               </tr>
               <tr>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.percent_circle1}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
               </th>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.text_circle1}}" placeholder="Texto"  name="habilidades"  class="form-control">
               </th>
             </tr>
             <tr>
              <th>Porcentaje</th>
              <th>Habilidad</th>
               </tr>
               <tr>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.percent_circle2}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
               </th>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.text_circle2}}" placeholder="Texto"  name="habilidades"  class="form-control">
               </th>
             </tr>
             <tr>
              <th>Porcentaje</th>
              <th>Habilidad</th>
               </tr>
               <tr>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.percent_circle3}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
               </th>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.text_circle3}}" placeholder="Texto"  name="habilidades"  class="form-control">
               </th>
             </tr>
             <tr>
              <th>Porcentaje</th>
              <th>Habilidad</th>
               </tr>
               <tr>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.percent_circle4}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
               </th>
               <th>
                <input ngModel type="text" ngModel="{{miPortfolio.text_circle4}}" placeholder="Texto"  name="habilidades"  class="form-control">
               </th>
             </tr>
             <!---habilidades duras      fila 2-->
             <tr>
              <th>Habilidades Duras</th>
             </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle5}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle5}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle6}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle6}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle7}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle7}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle8}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle8}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <!---Habilidadesduras 2da fila-->

            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle9}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle9}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle10}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle10}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle11}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle11}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle12}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle12}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <!---habilidades última fila-->
        
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle13}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle13}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle14}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle14}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle15}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle15}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>
            <tr>
             <th>Porcentaje</th>
             <th>Habilidad</th>
              </tr>
              <tr>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.percent_circle16}}" placeholder="Porcentaje"  name="habilidades"  class="form-control">
              </th>
              <th>
               <input ngModel type="text" ngModel="{{miPortfolio.text_circle16}}" placeholder="Texto"  name="habilidades"  class="form-control">
              </th>
            </tr>


           </tbody>
         </table>
       </div>

       <div class="modal-footer">
         <button                
           class="btn btn-primary">    
           Guardar Cambios
         </button>
         <button
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal"
         >
           Eliminar
         </button>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

    

  
  
   
    
