
    <!------------------------ El Pie de página comienza aquí ----------------------->
    <footer class="footer section">
        <div class="footer-container-fluid-lg">
            <h2 class="footer__title">María Susana Ferro</h2>
            <p class="footer-description">
                Full Stack Developer
            </p>
  
            <div class="footer__social">
              
                <a href="https://www.linkedin.com/in/maria-susana-ferro/" class="footer__link"><i class="bx bxl-linkedin"></i></a>
            </div>
            
            
           <!---------fuente del ícono----
            <i class="bi bi-pencil-square"></i>
            ---->
            <div class="edit_trash"><i class="bi bi-pencil-square"></i>
            </div>
            <div class="edit_trash"><i class="bi bi-trash"></i></div>
            
    <!------------------------ Final del pie de página f ----------------------->
        </div>
    </footer>