<div class="others-container-fluid-lg">
    <div class="others container mt-3">
        <div class="card nat-card">
    <h5 class="text-center">Otros recorridos realizados</h5>
    </div>
    <button
    type="button"
    class="btn btn-success"
    data-toggle="collapse"
    data-target
    routerLink="/newothers"
    *ngIf="isLogged"
  >
    Agregar
  </button>
    <div class="others container mt-3">
      
    <table table table-borderless>
    <tbody>  
      
        <tr *ngFor= "let others of others" >
          <td>{{others.item}}</td>
          <td>
          <div class="btn-group">
            <div class="btn-edit"*ngIf="isLogged">
              <button
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#othersModal"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
            </div></div></td>

        </tr>
        
    </tbody>
    </table>
    </div>
     <!------fuente del ícono----
          <i class="bi bi-pencil-square"></i>
          este es el div que contiene el boton editar, al usar group los 
          botones irán uno al lado del otro
          ---->
          
            <!---------este es el div que contiene el botón eliminar--
            <div class="btn_trash" onclick= "cambiar_parrafo()">
              <a href="#others" class="btn">
              <i class="bi bi-trash"></i>
            </a>
            </div>-->
          
             <!-- Modal para editar Others -->
      <div
      class="modal fade"
      id="othersModal"
      tabindex="-1"
      aria-hidden="true"
      aria-label="modalTitle"
      data-bs-backdrop="static"
    >
      <div
        class="modal-dialog modal-lg modal-dialog-centered"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header" >
            <h5 class="modal-title" id="modalOthers">Otros recorridos realizados</h5>
            <!---x para cerrar-->
            <button
              Type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body lg" *ngFor="let others of others">
            <form (ngSubmit)="updateothers()" novalidate #form="ngForm">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Recorrido</th>
              
                  </tr>
                  <tr>
                    <th>
                      <div class="form-group">
                        <label for="item">Acerca de mi:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="item"
                          name="item"
                          [(ngModel)]="others.item"
                          required
                        />
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                [disabled]="!form.valid"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Actualizar
              </button>
              <button
                type="button"
                (click)="deleteothers(others.id!)"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Eliminar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div></div>

