<div class="container-mt-3 m-2 p-2 ">
    <h3 class="m-4 p-4">Agregar sobre mí</h3>
    <div class="row">
        <div class="col-md8- mx-auto-8">
             <form (ngSubmit)="postNewAbout()" novalidate #f="ngForm">
                                   
                <div class="form-group">
                    <label for="about_me"> Acerca de mí: </label>
                    <input type="text" class="form-control" id="about_me" name="about_me" placeholder="about_me"
                    [(ngModel)]="about_me" required>
            </div>
            
                
                <button class="btn btn-warning btn-block m-2" [disabled]="!f.valid" >Agregar</button>
                <button class="btn btn-success btn-block m-2" routerLink="/portfolio">Finalizar</button>
             </form>
        </div>
    </div>
</div>