<div class="container mt-3">
    <table class="table  table-hover">
<tr>
  <td>
  <img class="img-proyecto" src="assets/imagenes/Aula Juego.jpg.png" alt="Aula Juego"></td>
      <td><b>2015</b>Realizado con Excelearning<b>Aula virtual para formación docentes de Nivel Inicial</b>
      </td>
        </tr>
        
        <tr>     
          <td ><img class="img-proyecto" src="assets/imagenes/Paideia.jpg.png" alt="Maletín de ideas educativas"></td>
          <td><b>2019</b> Realizado con el constructor de sitios web de WNPOWER Argentina<b>Gestión del sitio y de la revista virtual</b><br> www.redpaideia.com.ar            
           </td>
            </tr>
            
            <tr>     
              <td><img class="img-proyecto" src="assets/imagenes/RAM.jpg.png" alt="RAM"></td>
              <td><b>En proceso</b>FIGMA <b>App para ejercitar la memoria y prevenir el Alzheimer</b>
              </td>
                </tr>
            
                    </table>
                    </div>
                             

