* {
    margin: 0px;
    padding: 0px;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --sizing: border-box;
  }
  
  .logo-container {
    background-color: white;
    width: 15%;
    height: 52px;
    float: left;
    justify-content: start;
    align-items: center;
  
    margin: 10px;
  }
  .redes-container {
    position: relative;
    background-color: white;
    width: 55%;
    height: 52px;
    justify-content: end;
    align-items: center;
    list-style: none;
    float: left;
    margin: 10px;
  }
  .github {
    margin-right: 10px;
    margin-left: 10px;
  }
  .linkedin {
    margin-right: 10px;
  }
  .whatsapp {
    margin-right: 10px;
  }
  .correo {
    margin-right: 10px;
  }
  
  .borrar {
    margin-right: 20px;
  }
  
  .ap {
    position: relative;
    width: 49px;
    height: 52px;
    float: left;
  }
  #text-ap {
    position: relative;
    width: 87px;
    height: 31px;
    float: left;
    padding: 10px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
  
    color: #000000;
  }