<div class="w-25 h-100 d-flex sidebar-container float-right">
    <nav class="navbar navbar-expand-lg bg-important navbar-dark">
      <div class="container-fluid" id="navegador">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav flex-column">
      <li class="nav-item"> <a href="#home" class="nav__link active"> Inicio </a></li>
      <li class="nav-item"> <a href="#about" class="nav__link"> Sobre mí </a></li>
     <li class="nav-item"> <a href="#experience" class="nav__link"> Experiencia </a></li>
     <li class="nav-item"> <a href="#education" class="nav__link"> Educación </a></li>
     <li class="nav-item"> <a href="#kills" class="nav__link"> Habilidades </a></li>
     <li class="nav-item"> <a href="#projects" class="nav__link"> Proyectos </a></li>
     <li class="nav-item"> <a href="#contact" class="nav__link"> Contacto </a></li>
   </ul>
   </div>     
