<div class="education-container-fluid-lg">
  <div class="container mt-3">
    <table class="table  table-hover">
      <tbody>
<tr>
  <td>
  <img class="img-thumbnail" src="assets/imagenes/uncuyo.png" alt="UnCuyo"></td>
      <td>Licenciada en Creatividad Educativa - Universidad Nacional de Cuyo - Promedio 9.96
      </td>
        </tr>
        
        <tr>     
          <td ><img class="img-thumbnail" src="assets/imagenes/INFoD_logo_pie@2x.png" alt="INFOD"></td>
          <td>Especialista en Educación y Tecnología - INFOD - Promedio 9.90
          </td>
            </tr>
            
            <tr>     
              <td><img class="img-thumbnail" src="assets/imagenes/uniRioNegro.png" alt="UNRN"></td>
              <td>Diplomada en Conflictividad Social, Urbana y Territorial - UNR 
              </td>
                </tr>
            <tr>     
              <td><img class="img-thumbnail-usal" src="assets/imagenes/USAL.jpg" alt="USAL" ></td>
              <td>Profesora de Nivel Inicial - Universidad del Salvador - INFOD - Promedio 9.90
              </td>
                </tr>
                    <tr>     
                      <td><img class="img-thumbnail" src="assets/imagenes/cic.jpg" alt="Inmaculada Concepción"></td>
                      <td>Bachiller con orientación docente - Colegio Inmaculada Concepción - Promedio 8.98
                      </td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
</div>
