.portada-container-fluid-lg {
  
  background-color: #03031f;
  display: inline-block;
  width: 100%;
  height: auto;
}

.profile {
  position: relative;

  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  
}

.profile_img {
  position: absolute;
  
}

.nombre-container{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0.5em;

  color: #fcfcff;
  position: relative;
  margin-left:15%;
    
}