<section id="about">
    <div class="about-container-fluid-lg">
      <div class="about-container">
        <h2 id="title_section">Sobre mi</h2>
        <p class=about id="about_me">Mi trayectoria laboral inicia hace 30 años y conjuga el desarrollo de proyectos creativos mediados por TIC, la docencia y la gestión de diversas áreas de gobierno a nivel municipal y provincial. 
    
          Incorporé el estudio y la puesta en marcha de nuevas tecnologías en cada desafío, buscando brindar un servicio de vanguardia.
          Considero primordiales el trabajo colaborativo y la planificación estratégica de todo proceso creativo.
          
          Actualmente jubilada, busco formar parte de nuevos proyectos innovadores y de impacto social. 
          </p>
                        
                        </div>
                        
                   
