<section id="courses">
<div class="courses-container-fluid-lg">
  <div class="courses container ">
    <h5 class="text-center">Algunos cursos realizados</h5>
    <button
    type="button"
    class="btn btn-success"
    data-toggle="collapse"
    data-target
    routerLink="/newcourses"
    *ngIf="isLogged"
  >
    Agregar
  </button>
  </div>
  <div class="experience container mt-3">
  <div class="card nat-card">
  
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let courses of courses">
          <td>
            <img src="assets/imagenes/Ellipse 62.png" alt="viñeta"/>
          </td>
          <td>
            <p>{{ courses.curso }}</p>
          </td>
        <td>
          <div class="btn-group">
            <div class="btn-edit"*ngIf="isLogged">
              <button
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#coursesModal"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
            </div></div>
        </td>
            </tr>
           
                        
                        </tbody>
    </table>
  </div>


 <!-- Modal para editar Courses -->
 <div
 class="modal fade"
 id="coursesModal"
 tabindex="-1"
 aria-hidden="true"
 aria-label="modalTitle"
 data-bs-backdrop="static"
>
 <div
   class="modal-dialog modal-lg modal-dialog-centered"
   role="document"
 >
   <div class="modal-content">
     <div class="modal-header" >
       <h5 class="modal-title" id="modalCourses">Editar cursos</h5>
       <!---x para cerrar-->
       <button
         Type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body lg" *ngFor="let courses of courses">
      <form (ngSubmit)="updatecourses()" novalidate #form="ngForm">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Curso</th>
          
              </tr>
              <tr>
                <th>
                  <div class="form-group">
                    <label for="curso">Curso:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="curso"
                      name="curso"
                      [(ngModel)]="courses.curso"
                      required
                    />
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            [disabled]="!form.valid"
            class="btn btn-success"
            data-bs-dismiss="modal"
          >
            Actualizar
          </button>
          <button
            type="button"
            (click)="deletecourses(courses.id!)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div></div>

</section>

