<div class="education-container-fluid-lg"id="courses-container">
  <div class="others container mt-3"id="courses">
    <h5 class="text-center">Algunos cursos realizados</h5>
  </div>
  <div class="container mt-3">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let courses of courses">
          <td>
            <img src="assets/imagenes/Ellipse 62.png" alt="viñeta"/>
          </td>
          <td>
            <p>{{ courses.curso }}</p>
          </td>
          <div class="btn-group">
            
              <button (click)="onOpenModal(courses,'edit')" type="button" class="botones_contenido"*ngIf="isLogged"
                data-bs-toggle="modal"
                data-bs-target="#coursesModal">
                <i class="bi bi-pencil-square"></i>
                
            </button>
          
            <button (click)="onOpenModal(courses,'delete')" type="button" class="botones_contenido" *ngIf="isLogged"
            data-bs-toggle="delete_modal"
            data-bs-target="#deleteCoursesModal">
                  
                    <i class="bi bi-trash"></i>
                  </button>

                </div>

          
          
      </tbody>
    </table>
  </div>
</div>
<!-- Modal para agregar Courses -->
<div class="modal fade" id="postNewCoursesModal" tabindex="-1" aria-labelledby="postNewCoursesModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postNewCoursesModal">Agregar Curso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
        </button>
      </div> 
      <div class="modal-body lg" *ngFor="let courses of courses">
        
          
        <form #addForm="ngForm">
          <div class="form-group">
          <label for="nombre">Curso</label><br>
          <input  type="text" ngModel="{{courses.curso}} " name="curso"  class="form-control">
    </div>
   

          
            <div class="modal-footer">
              <button type="button" id="postNew-courses-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>  
        </form>
      </div>        
    </div>
  </div>
</div>

 <!-- Modal para editar Courses -->
 <div
 class="modal fade"
 id="coursesModal"
 tabindex="-1"
 aria-hidden="true"
 aria-label="coursesModal"
 data-bs-backdrop="static"
>
 <div
   class="modal-dialog modal-lg modal-dialog-centered"
   role="document"
 >
   <div class="modal-content">
     <div class="modal-header" >
       <h5 class="modal-title" id="updateCourses">Editar cursos</h5>
       <!---x para cerrar-->
       <button
         Type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body lg" *ngFor="let courses of courses">
        
          
            <form #updateForm="ngForm">
              <div class="form-group">
              <label for="nombre">Curso</label><br>
              <input  type="text" ngModel="{{courses?.curso}} " name="curso"  class="form-control">
        </div></form>
       

       <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button (click)="onUpdateCourses(updateForm.value)" class="btn btn-primary">Guardar cambios</button>
      </div></div>

        
       </div>
       <!-- Modal Eliminar -->

<div class="modal fade"
id="deleteCoursesModal" 
tabindex="-1"
 aria-hidden="true"
 aria-labelledy="deleteCourses"
 
>
  <div class="modal-dialogmodal-lg modal-dialog-centered"role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="deleteCourses">Eliminar Curso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body lg">
              <p>Esta acción eliminará el curso" ¿Desea continuar?</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div><div>
          <button type="button" class="btn" data-dismiss="modal">Sí</button>
          </div>
      </div>
  </div>
</div>
<!--Notificacion-->

<div *ngIf="courses?.length==0" class="col-lg12 col-md=12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay educaciones</h4>
    <p>Educaciones no encontradas</p>
  </div>
</div>