<!------------------------ tabla de Estudios----------------------->

    <div class="container mt-3">
      <table class="table table-striped">
        <tbody id="experience-table">
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>Actualmente</td>
            <td>
              Contenidista de la revista virtual: “Maletín de ideas educativas”
              de Red Paideia.Diseño y gestión del sitio. www.redpaideia.com
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>2015 - 2021</td>
            <td>
              Coordinadora general, coordinadora de tutores o tutor virtual de
              diferentes cursos virtuales de formación docente INFOD
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>2016 - 2017</td>
            <td>
              Presidente del Consejo Provincial de Educación de la provincia del
              Neuquén.
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>2015</td>
            <td>
              Secretaria de Gobierno de la Municipalidad de Villa La Angostura.
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>2012 - 2014</td>
            <td>
              Directora Provincial de Enseñanza Inicial del Neuquén. Consejo
              Provincial de Educación del Ministerio de Gobierno, Educación y
              Justicia.
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>2008</td>
            <td>
              Convencional Constituyente, mandato cumplido. 23 proyectos
              presentados para la Primer Carta Orgánica de Villa La Angostura.
            </td>
          </tr>
          <tr>
            <td><img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
            <td>1992 - 2018</td>
            <td>Docente Titular de la Provincia de Neuquén.</td>
          </tr>
        </tbody>
      </table>
    </div>
  

