<section id="experience">
  <div class="experience-container-fluid-lg">
    <div class="experiencia container">
      <h2 id="title_section">Experiencia</h2>
      <button
      type="button"
      class="btn btn-success"
      data-toggle="collapse"
      data-target
      routerLink="/newexperience"
      *ngIf="isLogged"
    >
      Agregar
    </button>
    </div>
   
    <div class="experience container mt-3">
      <div class="card nat-card">
       
        <table class="table table-striped">
          <tbody id="experience-table">
            <tr *ngFor="let experience of experience">
              <td><img src="assets/imagenes/Ellipse 62.png" alt="viñeta" /></td>
              <td>{{ experience.periodo }}</td>
              <td>{{ experience.descripcion }}</td>
              <td>
                <!---------fuente del ícono----
              <i class="bi bi-pencil-square"></i>
              este es el div que contiene el boton editar, al usar group los 
              botones irán uno al lado del otro
              ---->
                <div class="btn-group">
                  <div class="btn-edit" *ngIf="isLogged">
                    <button
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#experienceModal"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  </div>
                </div>
              
            </tr>
          </tbody>
        </table>
        </div>
        <!---------fuente del ícono----
          <i class="bi bi-pencil-square"></i>
          este es el div que contiene el boton editar, al usar group los 
          botones irán uno al lado del otro
          ---->

        <!----------este es el div que contiene el botón eliminar--  
            <div class="btn_trash" onclick= "cambiar_parrafo()">
                <i class="bi bi-trash"></i>
          
            </div>-->
      
      <!-- Modal para editar Experiencia -->
      <div
        class="modal fade"
        id="experienceModal"
        tabindex="-1"
        aria-hidden="true"
        aria-label="experienceModal"
        data-bs-backdrop="static"
      >
        <div
          class="modal-dialog modal-lg modal-dialog-centered"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalExperience">Experiencia</h5>
              <!---x para cerrar-->
              <button
                Type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body lg" *ngFor="let experience of experience">
              <form (ngSubmit)="updateexperience()" novalidate #form="ngForm">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Periodo</th>
                      <th>Descripcion</th>
                    </tr>
                    <tr>
                      <th>
                        <div class="form-group">
                          <label for="periodo"> período: </label>
                          <input
                            type="text"
                            class="form-control"
                            id="periodo"
                            name="periodo"
                            [(ngModel)]="experience.periodo"
                            required
                          />
                        </div>
                      </th>
                      <th>
                        <div class="form-group">
                          <label for="descripcion"> descripción de la experiencia: </label>
                          <input
                            type="text"
                            class="form-control"
                            id="descripcion"
                            name="descripcion"
                            [(ngModel)]="experience.descripcion"
                            required
                          />
                        </div>
                      </th>
                       </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button
                type="button"
                [disabled]="!form.valid"
                class="btn btn-success"
                data-bs-dismiss="modal">
                Actualizar
            </button>
            <button
            type="button"
            (click)="deleteexperience(experience.id!)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
                  Eliminar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
    </section>
