<div class="experience-container-fluid-lg">
    <div class="experience container mt-3">
    <h5 class="text-center">Otros recorridos realizados</h5>
    </div>
    <div class="experience container mt-3">
    <table table table-borderless>
    <tbody>
        <tr>Autora del libro: “Planificación creativa para clases virtuales” Editorial Autores de Argentina. 2020</tr>
       <tr>Profesora a cargo Seminario Taller virtual y presencial: “Uso Didáctico de las TIC” Instituto de Formación Docente 8, Junín de los Andes.</tr>
       <tr>Integrante del equipo técnico pedagógico de redacción: “Documentos de Desarrollo Curricular para las Instituciones Educativas de la Provincia del Neuquén.</tr>
       <tr>Responsable de gestión y organización de las Jornadas Intensivas de Nivel Inicial Neuquén .PROMER I</tr>
       <tr> Dictó curso Juego en el Nivel Inicial en Coordinación con referentes del Plan de Lectura.</tr>
       <tr>Responsable y autora de dos proyectos registrados a nivel provincial:
       “Limpiemos Nuestra Escuela de Ruidos” y “Recuperemos los Valores a través del Arte”</tr>
       <tr>Ganador Concurso de Proyectos Innovadores año 2000 con el proyecto “Recuperemos los valores a través del Arte” para la Escuela Nº 104 de Villa La Angostura.</tr>
       <tr>Expositora X Encuentro de Arte y Educación año 2008</tr>
       <tr>Coautora del libro: “Historias desde la Palabra la Imagen y el Sonido” reconocido por el Consejo Provincial de Educación de Neuquén.</tr>
       <tr>Dictó diferentes cursos de capacitación a nivel provincial: “El Juego en el Nivel Inicial”  “Juego y TIC en el Nivel Inicial”  en el marco de las Jornadas Intensivas para Docentes.</tr>
    </tbody>
    </table>
</div>
</div>

    


       
       

