<div class="others-container mt-3">
    <h5 class="text-center">Otros recorridos realizados</h5>
    <p>Autora del libro: “Planificación creativa para clases virtuales” Editorial Autores de Argentina. 2020<br><br>
       Profesora a cargo Seminario Taller virtual y presencial: “Uso Didáctico de las TIC” Instituto de Formación Docente 8, Junín de los Andes.<br><br>
       Integrante del equipo técnico pedagógico de redacción: “Documentos de Desarrollo Curricular para las Instituciones Educativas de la Provincia del Neuquén.<br><br>
       Responsable de gestión y organización de las Jornadas Intensivas de Nivel Inicial Neuquén .PROMER I Dictó curso Juego en el Nivel Inicial en Coordinación con referentes del Plan de Lectura.<br><br>
       Responsable y autora de dos proyectos registrados a nivel provincial:
       “Limpiemos Nuestra Escuela de Ruidos” y “Recuperemos los Valores a través del Arte”<br><br>
       Ganador Concurso de Proyectos Innovadores año 2000 con el proyecto “Recuperemos los valores a través del Arte” para la Escuela Nº 104 de Villa La Angostura.<br><br>
       Expositora X Encuentro de Arte y Educación año 2008<br><br>
       Coautora del libro: “Historias desde la Palabra la Imagen y el Sonido” reconocido por el Consejo Provincial de Educación de Neuquén.<br><br>
       Dictó diferentes cursos de capacitación a nivel provincial: “El Juego en el Nivel Inicial”  “Juego y TIC en el Nivel Inicial”  en el marco de las Jornadas Intensivas para Docentes.
      </p>
       </div>

