/*------------kills------------*/
.skills-container-fluid-lg {
  width: 75%;
  height: auto;
  padding: 50px;
  justify-content: center;
  align-content: center;
}

/*--------------------circulos--------------*/

.box {
  background: #728db7;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  box-shadow: 0 30px 60px rgba(127, 100, 177, 0.4);
  transition: transform 0.2s;
  float: left;
  margin: 10px;
  padding: 10px;
}

.box .text {
  padding: 10px;
  color: rgb(12, 17, 18);
  font-weight: 400;
  letter-spacing: 1px;
  text-align:center;
}
/*---------------Acá terminan los círculos-  viejo-------------*/




