<div class="others-container mt-3">
    <h5 class="text-center">Algunos cursos realizados</h5>
  </div>
  <div class="container mt-3">
    <table class="table table-striped">
  <tr>
    <td>
        <img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
    <td><p>"Sé programar"  Argentina Programa - Primera etapa</p></td>
  </tr>
  <tr>
    <td>
        <img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
      <td><p>"Diseño Páginas Web" Cepaho 19 - Consejo Provincial de Educación del Neuquén</p></td></tr>
      <tr>
        <td>
            <img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
      <td>
      <p>"Java Script" Cepaho 19 - Consejo Provincial de Educación del Neuquén </p></td></tr>
      <tr>
        <td>
            <img src="assets/imagenes/Ellipse 62.png" alt="elipse" /></td>
        <td><p>"Introducción a la programación en Android con Java" -  UTN.BA </p></td></tr>
        <tr>
            <img src="assets/imagenes/Ellipse 62.png" alt="elipse" />
        <td> <p> "Liderazgo Político y Social" - Universidad Católica Argentina</p> </td>
        </tr>
    </table>
  </div>
