 <!---------------círculos fila 1-->
 <div class="container py-5">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>95<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Trabajo colaborativo</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>95<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Planificación estratégica</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>85<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Gestión de conflictos</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>90<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Creatividad</h2>
             
    </div>

    </div>
    <!-----------------círculos fila 2-->
    <div class="container py-5">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>87<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Liderazgo</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>100<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Empatía</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>100<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Compromiso</h2>
    </div>
    <!--------------otro círculo-->
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="num">
          <h2>60<span>%</span></h2>
        </div>
      </div>
      <h2 class="text">Git Github</h2>
             
    </div>
                
</div>
    
<!-----------------círculos fila 3-->
<div class="container py-5">
<div class="box">
<div class="percent">
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
  <div class="num">
    <h2>87<span>%</span></h2>
  </div>
</div>
<h2 class="text">HTML</h2>
</div>
<!--------------otro círculo-->
<div class="box">
<div class="percent">
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
  <div class="num">
    <h2>75<span>%</span></h2>
  </div>
</div>
<h2 class="text">Javascript</h2>
</div>
<!--------------otro círculo-->
<div class="box">
<div class="percent">
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
  <div class="num">
    <h2>87<span>%</span></h2>
  </div>
</div>
<h2 class="text">CSS</h2>
</div>
<!--------------otro círculo-->
<div class="box">
<div class="percent">
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
  <div class="num">
    <h2>87<span>%</span></h2>
  </div>
</div>
<h2 class="text">Figma</h2>
       
</div>
 </div>         


